body {
    font-family: sans-serif;
}
h2 {
    color: white;
    text-shadow: 1px 1px black;
    padding: 10px;
}
#CountryList {
    margin: 0 10px;
}
.centerElement{
    display: block;
    margin: auto;
}

.leftFloat{
    float: left;
}

.halfWidth{
     width: 50%;
}

div{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 700px;
}

#Color1{
    background-color: red;
}

#Color2{
    background-color: white;
}

#Color3{
    background-color:blue;
}